.searchFormat {
  display: flex;
  border: none;
  width: min-content;
  height: min-content;
  padding: 0;
  position: relative;
  padding-left: 10px;
}
.searchInput {
  border: none;
  border-radius: 100px;
  outline: none;
}
.search {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.search > img {
  height: 14px;
}
