.container {
  width: 100%;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: center;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.headerBodyContainer {
  display: flex;
  align-items: center;
  font-family: Graphik-Semibold-Web, sans-serif;
}
.headerBodyContainer > button {
  border: none;
  background: none;
  height: min-content;
  font-size: 14px;
  font-weight: bold;
  color: #9ab;
}
.headerBodyContainer > button:hover {
  color: white;
  cursor: pointer;
}

img {
  height: 70px;
}
